#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


* {
  border: 1px solid red;
}



.header-div{
  height: 175px;
  width:100%;
  position:fixed;
  top:0%;
  left:0%;
  background: blue;
}

.stars-div{
  font-size: 4rem;
  width: 100%;
  margin: 0 0 2rem 0;
  border: 2px solid rgb(255, 230, 0);
}
.main-div{
  display:flex;
  margin-top: 100px;
  height: 20rem;
  justify-content: center;
  align-content: center;
  border: 1px solid rgb(204, 0, 255);

}
.equation-div{
  font-size: 5rem;
  border: 1px solid green;
  margin: 0 3rem 0 0;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  align-content: center;

}

.math-signs{
  width: 5rem;
  font-size: 3rem;
  margin:auto;
  filter: drop-shadow(1.5px 1px 2px rgb(0, 0, 0));
}

.multiple-area{
  width: 10rem;
}

.product-div{
  margin:0;
  text-align: center;
  padding: 1rem;
  width: 12rem;
}

.equation-size{
  font-size: 7rem;
  font-weight: bold;
  margin:auto;
}

.btn-div{
  display:flex;
  flex-direction: column;
}