@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Quicksand:wght@400;500;700&family=Rammetto+One&family=Titan+One&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* *{
  border: 1px solid red;
} */

body{
  background: linear-gradient(180deg, #001d43 0%, #000000 100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/* ------------------------- Landing Page ------------------------- */

.landingpage{
  background:url('./assets/green-galaxy.webp');
  background-repeat: no-repeat;
  background-size: cover; 
}

.title{
  animation: 1.5s linear 0s  rise;
}
.multiply-btn{
  animation:
    5s infinite 1.5s ease-in-out grow-and-shrink;
}
#astrontaut{
  animation: 
    10s infinite ease-in alternate slide-in; 
}
@keyframes rise {
  from {
    transform: translateY(15vh) scale(.1);
  }
  to {
    transform: translateY(0vh) scale(1);
  }
}
 @keyframes grow-and-shrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(.9);
    }
    100% {
      transform: scale(1);
    }
  }
@keyframes slide-in {
    from {
      transform: translateX(5%);
    }
    to {
      transform: translateX(0%);
    }
  }
/* ----------- END OF LANDING PAGE ------------ */

/* ----------- MULTIPLY MENU START MODAL ------------ */

.title-div{
  font-family: 'Gugi', sans-serif;
}
.start-modal{
  background: radial-gradient(circle at 50% 50%, #81e9e2, #78e1dd, #6fdad8, #67d3d2, 
  #5ecbcd, #55c4c8, #4cbcc3, #42b5bd, #39aeb8, #2ea6b3, #229fad, #1398a8);
}
input[type=radio]{
  width: 1.25rem;
  height: 1.25rem;
}
/* ----------- END OF MULTIPLY MENU START MODAL ------------ */

#inputElement{
  font-family: 'Titan One', sans-serif;
  font-family: 'Rammetto One', sans-serif;
  font-family: 'Gugi', sans-serif;
  font-family: 'Quicksand', sans-serif;
}
/* ----------- END OF MULTIPLY PAGE ------------ */

/* ------Button Hover Glow Effect------------ */
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    -webkit-animation: glowing 20s linear infinite;
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover:active {
    color: #000
}
.glow-on-hover:active:after {
    background: transparent;
}
.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(30, 58, 138);
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@-webkit-@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}