@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Quicksand:wght@400;500;700&family=Rammetto+One&family=Titan+One&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
  background: linear-gradient(180deg, #001d43 0%, #000000 100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
/* .rocket{
  width: 80px;
  height: 80px;
} */
.rocket:hover{
  filter: drop-shadow(-10px 10px 4px rgba(255, 208, 0, .6));
  /* transform: rotate(30deg); */
  animation: moveRocket 3s linear forwards;
}
@keyframes moveRocket {
	20% { transform: rotate(25deg) translate(3px, 5px); }
  40% { transform: rotate(32deg) translate(-3px, -3px); }
	60% { transform: rotate(28deg) translate(5px, 5px); }
	80% { transform: rotate(30deg) translate(-2px, -2px); }
	90% { transform: rotate(20deg) translate(3px, 3px); }
	100% { transform: rotate(0deg) translate(0,0); }
}
.incorrect{
  filter: invert(8%) sepia(100%) saturate(7175%) hue-rotate(23deg) brightness(91%) contrast(124%);
}
/* ------------------------- Landing Page ------------------------- */
.landingpage{
  background:url('./assets/green-galaxy.webp');
  background-repeat: no-repeat;
  background-size: cover; 
}
.title{
  animation: 1s linear 0s  rise;
}
.btn-animation{
  animation:
    5s infinite 1.5s ease-in-out grow-and-shrink;
}
#astronaut{
  animation: 
    10s infinite ease-in alternate slide-in; 
}
@keyframes rise {
  from {
    transform: translateY(15vh) scale(.1);
  }
  to {
    transform: translateY(0vh) scale(1);
  }
}
 @keyframes grow-and-shrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(.9);
    }
    100% {
      transform: scale(1);
    }
  }
@keyframes slide-in {
    from {
      transform: translateX(5%);
    }
    to {
      transform: translateX(0%);
    }
  }
/* ------Button Hover Glow Effect------------ */
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    -webkit-animation: glowing 20s linear infinite;
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-hover:active {
    color: #000
}
.glow-on-hover:active:after {
    background: transparent;
}
.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 38, 141);
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@-webkit-@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}